# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: Personal Blog
title_separator: "|"
email:
description: Facts, hacks and attacks from my life as a web application developer
url: "https://chase-seibert.github.io"
baseurl: "/blog" # the subpath of your site, e.g. /blog
repository: "chase-seibert/chase-seibert.github.io"
search: true
google_site_verification: "KbUN2yK33xTFIQa6xopl2QZyG02prTwsPwnCTjRRYMM"

author:
  name   : "Chase Seibert"
  avatar : "/images/chase-square.jpg"
  location: "San Francisco, CA"
  bio    : Senior Engineering Manager, NerdWallet
  email  : # optional
  twitter: chase_seibert
  facebook: chase.seibert
  linkedin: chaseseibert
  github: chase-seibert
  stackoverflow: 7679

defaults:
  -
    scope:
      path: "" # an empty string here means all files in the project
      type: "posts" # previously `post` in Jekyll 2.2.
    values:
      layout: single
      author_profile: true
      read_time: false
      comments: false
      share: false
      related: false
      toc_label: "On this page"

# Build settings
markdown: kramdown
theme: minima
remote_theme: "mmistakes/minimal-mistakes"
minimal_mistakes_skin: "dirt" # "air", "aqua", "contrast", "dark", "dirt", "neon", "mint", "plum" "sunrise"
paginate: 5
paginate_path: /page:num/
category_archive:
  type: liquid
  path: /categories/
tag_archive:
  type: liquid
  path: /tags/
plugins:
  - jekyll-feed
  - jekyll-remote-theme
  - jekyll-paginate
  - jekyll-redirect-from
  - jekyll-sitemap

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
# exclude:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
